html,
body,
ul,
li {
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}
body {
  background-color: cyan;
}

.app-wrapper {
  max-width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr 10fr;
  grid-template-rows: 0vmin auto;
  grid-template-areas: "header header" "sidebar content";
  background-color: darkgrey;
  // padding-bottom: 70px;
}
.content {
  height: 100%;
  grid-area: content;
  background-color: #ff7272;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

a {
  text-decoration: none;
}
